// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

:root {
    --primary-color: #c5ff00;
    --secondary-color: #010101;
    --bg-linear: linear-gradient(0deg,#87de1d,#c5ff00);
    --primary-font: 'Kanit', Helvetica Neue, Helvetica, Arial, sans-serif;
    --border-neon: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1rem #c5ff00, 0 0 1rem #c5ff00, 0 0 1rem #c5ff00, inset 0 0 1rem #c5ff00;
    --text-neon: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #c5ff00, 0 0 80px #c5ff00, 0 0 90px #c5ff00, 0 0 100px #c5ff00, 0 0 150px #c5ff00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    color: white;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    &:hover {
        color: white;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

.clear__ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.the-title {
    font-size: calc(2rem + 1vw);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.center__mode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padd__rem {
    padding: calc(5rem + 1vh) 0;
    @media screen and (min-width: 992px) {
        padding: calc(10rem + 1vh) 0;
    }
}

.color--hover {
    &:hover {
        color: var(--primary-color) !important;
        text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        transition: .2s ease-out all;
    }
}

.color--neon {
    &:hover,
    &:focus,
    &:active {
        box-shadow: var(--border-neon);
    }
}

.bg-color--primary {
    background: var(--primary-color);
    .the-title {
        color: var(--secondary-color);
    }
}

.btn-color--primary {
    border-radius: 0;
    border-width: 1px;
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: var(--secondary-color);
    &:hover {
        overflow: hidden;
        border: 1px solid white;
        background: transparent;
        color: white;
    }
}

.fisrt__letter {
    &:first-letter {
        color: white;
        background-color: black;
        border-radius: 2px;
        box-shadow: 3px 3px 0 var(--primary-color);
        font-size: 250%;
        padding: 6px 3px;
        margin-right: 6px;
        float: left;
    }
}

.theme-mode {
    .current__mode.mode__active {
        >i {
            color: var(--primary-color) !important;
            text-shadow: var(--text-neon);
        }
    }
}

.my-name {
    animation: flicker 1.5s infinite alternate; 
}

/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 6px #fff,
        0 0 12px #fff,
        0 0 24px #c5ff00,
        0 0 48px #c5ff00,
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.offcanvas {
    background: linear-gradient(0deg,rgba(0,0,0,0.90),#c5ff00);
    width: 100% !important;
}

.navbar-nav {
    .nav-link {
        color: white;
        font-weight: 200;
        text-transform: uppercase;
        &:hover {
            color: var(--seconday-color);
            font-weight: 700;
        }
    }
}

.break-section {
    // background-image: url(../asstes/images/patipan-profile-image.jpg);
    background-image: url(https://images.unsplash.com/photo-1616004655123-818cbd4b3143?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    height: calc(5rem + 5vh);
}

.introduce__container {
    display: flex;
    flex-direction: column-reverse;
    @media screen and (min-width: 992px) {
        flex-direction: row;
    }
    .hello-myself {
        max-width: 35rem;
        text-align: center;
        @media screen and (min-width: 992px) {
            text-align: left;
        }
        h1 {
            font-size: calc(1rem + 1vw);
            text-transform: uppercase;
            color: white;
        }
        h2 {
            font-size: calc(2rem + 1vw);
            text-transform: uppercase;
            @media screen and (min-width: 992px) {
                font-size: calc(2.5rem + 1vw);
            }
            @media screen and (min-width: 1200px) {
                font-size: calc(3rem + 1vw);
            }
        }
        p {
            font-size: calc(1rem + .8vw);
            font-weight: 200;
        }
    }
    .picture-myself {
        max-width: 75%;
        margin: 0 auto
    }
}

#about {
    .skill-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 12px;
        @media screen and (min-width: 576px) and (max-width: 991px) {
            grid-template-columns: repeat(8, 1fr);
        }
    }
}

#portfolio {
    .project-title {
        background: rgba(0,0,0,0.75);
        color: white;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 6px;
    }
}

#contact {
    button {
        width: 100%;
    }
}
form {
    width: 100%;
    @media screen and (min-width: 992px) {
        width: 50%;
    }
}

footer {
    border-top: 1px solid var(--primary-color);
    .copyright {
        font-size: .875rem;
        font-weight: 200;
        margin: 0;
        @media screen and (min-width: 992px) {
            font-size: 1rem;
        }
    }
}
